
.btn {
    padding: 7px 14px;
    text-transform: uppercase;
    min-width: 120px;
    border-radius: 3px;
}

.btn-primary {
    background: #28b4e7;
    border: none;
}
.btn-primary:hover {
    background: #32bff2;
}
.btn-primary:active {
    background: #26aedf;
}
.btn-primary:focus {
    background: #28b4e7;
}
.btn-primary:active:focus {
    background: #26aedf;
}

.btn-success {
    background: #4daa4b;
    border: none;
}
.btn-success:hover {
    background: #52b450;
}
.btn-success:focus {
    background: #4daa4b;
}

.btn-danger {
    background: #e33e23;
    border: none;
}
.btn-danger:hover {
    background: #f64528;
}
.btn-danger:focus {
    background: #e33e23;
}
