
.btn {
    padding: 7px 14px;
    text-transform: uppercase;
    min-width: 120px;
    border-radius: 3px;
}

.btn-primary {
    background: #28b4e7;
    border: none;
    &:hover {
        background: #32bff2;
    }
    &:active {
        background: #26aedf;
    }
    &:focus {
        background: #28b4e7;
    }
    &:active:focus {
        background: #26aedf;
    }
}

.btn-success {
    background: #4daa4b;
    border: none;
    &:hover {
        background: #52b450;
    }
    &:focus {
        background: #4daa4b;
    }
}

.btn-danger {
    background: #e33e23;
    border: none;
    &:hover {
        background: #f64528;
    }
    &:focus {
        background: #e33e23;
    }
}
