
@import "variables";

.form-group {
    margin-bottom: 8px;
    label {
        margin-bottom: 3px;
    }
}
.form-control {
    border: 1px solid @medium-grey;
    border-radius: @input-border-radius;
}
.form-control[disabled] {
    background-color: @white-bg;
    opacity: 1;
    color: @medium-grey;
}
.form-group {
    &.search-wrapper {
        margin-bottom: 0;
    }
    .error-wrapper {
        color: @danger-red;
        min-height: 18px;
        font-size: .84em;
        margin-top: 1px;
    }
}
.with-checkbox {
    label {
        margin-bottom: 0px;
        font-weight: bold;
    }
    .checkbox {
        margin: 0 0 4px 0;
    }
}
.with-icon {
    position: relative;
    input, select {
        padding-left: 28px;
    }
    i {
        position: absolute;
        top: 10.5px;
        left: 10px;
        z-index: 10;
    }
    .fa-check-circle {
        color: @success-green;
    }
    .fa-exclamation-circle {
        color: @danger-red;
    }
    .fa-circle {
        color: @medium-grey;
    }
}
.single-checkbox {
    border: 1px solid @medium-grey;
    width: auto;
    display: inline-block;
    padding: 5px 14px;
    border-radius: @input-border-radius;
    background: @white-bg;
    margin: 0;
    &.inline-with-inputs {
        margin-top: 22px;
        margin-bottom: 10px;
    }
}
.form-group {
    .single-checkbox {
        label {
            margin-bottom: 0;
        }
    }
}
.markdown-textarea {
    height: 125px !important;
    resize: none;
}
.markdown-preview {
    height: 125px;
    border: 1px dashed @medium-grey;
    padding: 10px;
    overflow-y: scroll;
}
.date-time-zone {
    position: relative;
    .form-control[disabled] {
        color: #333;
    }
    .buttons-wrapper {
        text-align: right;
        position: absolute;
        top: -30px;
        right: 0;
        button,
        button:active {
            padding: 3px;
            border: none;
            font-size: 15px;
            transition: border-color 0.15s;
            display: inline-block;
            margin: 0;
            background: none;
            i {
                color: #333;
            }
            &.open i {
                color: #666;
            }
        }
    }
}
.dateInvalid {
    .date-time-zone {
        input, .input-group-btn button {
            border-bottom-color: red !important;
        }

    }
}
.date-picker {
    border: none;
    border-radius: 0;
    font-size: 12px;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 34px;
    width: auto;
    box-shadow: 0px 5px 17px #ddd;
    .btn {
        min-width: 0;
        padding: 6px 12px;
    }
    table th button i,
    .btn-default.active {
        color: #666;
    }
}
.time-picker {
    position: absolute;
    right: 0;
    top: 34px;
    background: #fff;
    z-index: 100;
    width: 275px;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 17px #ddd;
    .btn {
        min-width: 100%;
    }
    td {
        padding: 0 10px;
    }
    .uib-separator {
        padding: 0px;
        text-align: center;
    }
    input {
        width: 100% !important;
    }
}
.zone-picker {
    position: absolute;
    right: 0;
    top: 34px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 100;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    box-shadow: 0px 5px 17px #ddd;
    li {
        padding: 3px 10px;
        cursor: pointer;
        &.selected {
            background: #ddd;
        }
    }
}
