
@import "variables";

.navbar {
	background: @dark-grey;
	color: @light-text;
	border: none;
	margin-bottom: 0;
	flex: 0;
	min-width: 100%;
	border-radius: 0;
	.navbar-collapse {
		border: none;
		box-shadow: none;
	}
	.navbar-brand {
		color: @light-text;
		font-size: 0;
		background: url(../../images/logo.png) no-repeat;
		width: 65px;
		height: 25px;
		background-size: 65px 25px;
		margin: 10px auto;
		display: block;
		float: none;
	}
	.navbar-nav {
		display: none;
		li {
			a {
				font-size: .8em;
				transition: @button-and-link-transition;
				color: @light-text;
				text-transform: uppercase;
				padding: 15px 15px 15px 8px;
				&:hover {
					color: @primary-blue;
				}
				&:focus {
					color: @light-text;
				}
			}
		}
	}
	.nav-select {
		display: none;
		cursor: pointer;
		background: @nav-select-grey;
		margin-right: -30px;
		padding-left: 15px;
		margin-left: 15px;
		.btn {
			padding: 0;
			background: transparent;
			font-size: .8em;
			border-right: none;
			&:hover {
				background: #424242;
			}
			&:focus {
				background: #424242;
			}
		}
		img {
			margin-left: 15px;
		}
	}
}

.dropdown-menu {
	z-index: 1010;
	margin: 0;
	border-radius: 0px;
	float: right;
	min-width: 280px;
	background: @nav-select-grey;
	color: @light-text;
	border: none;
	padding: 0;
	border-top: 1px solid @dark-grey;
	li {
		a {
			overflow: auto;
			color: @light-text;
			padding: 5px 10px 5px 15px;
			&:hover {
				background-color: @dark-grey;
			}
		}
	}
	span {
	    margin-top: 6px;
		display: block;
		float: left;
		color: @light-text;
		padding-right: 15px;
	}
}

.breadcrumb-wrapper {
	background: @light-grey;
	border: 1px solid @medium-grey;
    border-top: none;
	flex: 0;
    min-width: 100%;
    min-height: 30px;
    z-index: 1002;
	.desktop-logout {
		display: none;
	}
	.breadcrumb {
		background: none;
		margin: 0;
		padding: 5px 0;
		float: left;
		li {
			a {
				color: @dark-grey;
				cursor: pointer;
			}
		}
	}
	a {
		transition: @button-and-link-transition;
		color: @dark-grey;
		margin-top: 5px;
		cursor: pointer;
	}
}


.alert {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	width: 100%;
	padding: 0 15px;
	border-radius: 0;
	overflow: auto;
	border: none;
	background: @white-bg;
	margin: 0;
	top: -50px;
    transition: top 0.2s ease-in-out;
	&.in {
		top: 0;
	}
	h3 {
		float: left;
		margin: 0;
		padding: 10px 20px 9px 10px;
		border-right: 1px solid @medium-grey;
		text-transform: uppercase;
		i {
			margin-right: 10px;
		}
	}
	span {
		float: left;
		margin-top: 16px;
		margin-left: 20px;
	}
}
.alert-dismissible {
	.close {
		right: 0px;
	}
}
.alert-success {
	h3 {
		color: @success-green;
	}
	span {
		color: @dark-grey;
	}
}
.alert-danger {
	h3 {
		color: @danger-red;
	}
	span {
		color: @dark-grey;
	}
}


@media (min-width: 768px) {

	.breadcrumb-wrapper {
		.desktop-logout {
			display: inline;
		}
	}
	.navbar {
		.container {
			.navbar-brand {
				margin: 10px 0px;
				float: left;
			}
		}
		.navbar-nav {
			display: block;
		}
		.nav-select {
			display: block;
		}
	}
}


@media (min-width: 840px) {

	.navbar {
		 .nav-select {
			 .btn {
				 font-size: 1em;
			 }
		 }
		 .navbar-nav {
			 li {
				 a {
					 font-size: 1em;
				 }
			 }
		 }
	}

}
