
@import "variables";

.list-group {
    .list-group-item{
        padding: 17px;
        border-color: @medium-grey;
        border-left: none;
        border-right: none;
        &:first-child {
            border-radius: 0;
            border-top: none;
        }
        &:last-child {
            border-radius: 0;
        }
        .left-data {
            h4 {
                margin: 0;
            }
            p {
                margin: 0;
                font-size: .85em;
            }
        }
        .buttons {
            margin-top: 15px;
            .btn {
                margin-bottom: 5px;
            }
        }
    }
    .status {
        font-size: .7em;
        display: block;
        margin: 4px 0 4px 0;
    }
    .active {
        color: @success-green;
    }
    .inactive {
        color: @danger-red;
    }
}

.multi-col-list {
    .item {
        padding: 0;
        border: 1px solid @medium-grey;
        border-top: none;
        border-left: none;
        &:first-child {
            border-top: none;
        }
        a {
            display: block;
            padding: 20px;
            color: @dark-grey;
            overflow:  auto;
            cursor: pointer;
        }
        img {
            float: left;
        }
        h3 {
            font-size: 1.3em;
            float: left;
            margin: 15px 0px 0px 12px;
        }
        img {
            border-radius: 50px;
        }
    }
}

@media (min-width: 768px) {

    .multi-col-list {
        .item {
            padding: 0;
            border: 1px solid @medium-grey;
            border-left: none;
            border-top: none;
            &:first-child {
                border-top: none;
            }
        }
    }

}

@media (min-width: 998px) {

    .list-group {
        .list-group-item{
            .buttons {
                margin-top: 0;
                .buttons-wrapper {
                    float: right;
                }
                .btn {
                    margin-bottom: 0;
                }
            }
        }
        .status {
            font-size: .7em;
            display: inline;
            margin: 0;
        }
    }

}
