
.loader-wrapper {
	background: url(../../images/pattern.png);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	opacity: 0;
	display: none;
	transition: opacity 125ms ease-out;
	&.show {
		display: block;
		opacity: 1;
	}
}
.loader {
    position: relative;
	box-sizing: border-box;
	height: 75px;
	width: 75px;
	border: 0px solid #000;
	border-radius: 50%;
	box-shadow: 0 -28px 0 31px #28b4e7 inset;
	animation: rotate 1.25s infinite ease-in-out;

	&::after {
		content: "";
	    background: #fff;
	    width: 36px;
	    height: 36px;
	    display: block;
	    border-radius: 50px;
		position: absolute;
		top: 19.5px;
    	left: 19.5px;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
