
@import "variables";

.container {
	padding-left: 0;
    padding-right: 0;
}
.view-wrapper {
	flex: 1;
    min-width: 100%;
    min-height: auto;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
}
#wrapper {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
}
.main-content {
	background: @white-bg;
	border-right: 1px solid @medium-grey;
	border-left: 1px solid @medium-grey;
	flex: 1;
    min-width: 100%;
    min-height: auto;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
	.inner-main-content {
		flex: 1;
        min-height: 100%;
        background: #fff;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
		position: relative;
	}
	.scrolling-content {
		overflow: auto;
		flex: 1;
		&.with-padding {
			padding: 15px;
		}
	}
	.fixed-top-section {
		padding: 15px 0;
		overflow: auto;
		min-width: 100%;
		background: @white-bg;
		border-bottom: 1px solid @medium-grey;
	}
}
.pagination {
    margin: 15px;
}
.no-content {
    border: 2px dashed #ddd;
    width: 96%;
    margin: 2%;
    padding: 100px 20px;
    text-align: center;
    color: #999;
    border-radius: 6px;
    clear: both;
}
