
@import "variables";

body {
	height:100vh;
	background: #f8f8f8;
}
.container {
	position: relative;
}
.side-nav-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background: @light-grey;
	width: 200px;
	height: 100vh;
    padding-top: 81px;
	z-index: 1000;
	border-left: 1px solid @medium-grey;
	display: none;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		a {
			transition: @button-and-link-animation;
			padding: 10px 15px;
			display: block;
			text-transform: uppercase;
			position: relative;
			color: @dark-grey;
			&.active {
				background: @nav-active;
				&::before {
					content: "";
					background: @primary-blue;
					position: absolute;
					top: 0;
					left: 0;
					height: 40px;
					width: 6px;
				}
			}
			&:hover {
				text-decoration: none;
				background: @medium-grey;
			}
			i {
				padding-right: 10px;
			}
		}
	}
}
.main-content {
	background: @white-bg;
	margin-left: 0;
	border-right: 1px solid @medium-grey;
	border-left: 1px solid @medium-grey;
	height: 100vh;
    padding-top: 81px;
	position: relative;
	.scrolling-content {
		overflow: scroll;
		padding-bottom: 15px;
		// height in set in the: things-that-dont-work-in-less.css
	}
	.fixed-top-section {
		padding: 15px 0 0 0;
		position: absolute;
		top: 80px;
		right: 0;
		width: 100%;
		background: @white-bg;
		z-index: 999;
		.clearfix {
			border-bottom: 1px solid @medium-grey;
			padding-bottom: 15px;
		}
	}
}

@media (min-width: 768px) {

	.main-content {
		margin-left: 200px;
		&.no-nav {
			margin-left: 0;
		}
	}
	.side-nav-wrapper {
		display: block;
	}

}
