
// ================ colors
@dark-grey: #303030;
@light-grey: #f1f1f1;
@medium-grey: #e2e2e2;
@nav-select-grey: #424242;
@light-text: #ffffff;
@nav-active: #eaeaea;
@white-bg: #ffffff;

@primary-blue: #28b4e7;
@hover-blue: #33c6fb;
@active-blue: #20a0ce;

@success-green: #4daa4b;
@hover-green: #58bc56;
@active-green: #49a048;

@danger-red: #e33e23;
@hover-red: #f84b2f;
@active-red: #c9302c;

// ================ sizes
@input-border-radius: 3px;

// ================ animation
@button-and-link-transition: background-color .3s ease, color .3s ease;
