
<!--
	NOTE:
	These buttons are primarily default bootstrap button with some modifications for the theme.
	Also has examples of how the buttons would look with and icon.

	The modal button below opens an example of what a confirm modal looks like.
-->

<div class="main-content">

	<!-- insert the context of nav as needed -->
	<div ng-include="'../templates/nav.html'"></div>

	<div class="inner-main-content" >
		<div class="fixed-top-section">

			<div class="col-xs-6 col-sm-6 col-md-4" >
				<div class="form-group search-wrapper" >
					<div class="with-icon" >
						<input type="text" class="form-control" placeholder="Fake Search" />
						<i class="fa fa-search" ></i>
					</div>
				</div>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-8" >
				<button class="btn btn-success pull-right" type="button" > <i class="fa fa-plus" ></i> Example Add</button>
			</div>

		</div>

		<div class="scrolling-content">

			<div class="col-sm-12">
				<h2>Buttons</h2>

				<button class="btn btn-primary" type="button" >Primary</button>
				<button class="btn btn-primary btn-icon-only" type="button" ><i class="fa fa-play" ></i></button>

				<div class="btn-group" role="group">
					<button class="btn btn-primary" type="button" >Button</button>
					<button class="btn btn-primary" type="button" >Group</button>
				</div>

				<button class="btn btn-secondary" type="button" >Secondary</button>

				<button class="btn btn-success" type="button" >Success</button>
				<button class="btn btn-success" type="button" > <i class="fa fa-floppy-o" ></i> Save</button>

				<button class="btn btn-danger" type="button" >Danger</button>
				<button class="btn btn-danger" type="button" > <i class="fa fa-trash" ></i> Delete</button>

				<br/>
				<br/>
				<button type="button" class="btn btn-primary" ng-click="openModal()">Open Test Modal</button>

			</div>


		</div>
	</div>
</div>
