
<!-- insert the context of nav as needed -->
<div ng-include="'../templates/nav.html'"></div>

<div class="main-content"> <!-- add the class "no-nav" if you want it to expand the view width of the container -->

	<div class="fixed-top-section">

		<div class="col-xs-6 col-sm-6 col-md-4" >
			<div class="form-group search-wrapper" >
				<div class="with-icon" >
					<input type="text" class="form-control" placeholder="Fake Search" />
					<i class="fa fa-search" ></i>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-8" >
			<button class="btn btn-success pull-right" type="button" > <i class="fa fa-plus" ></i> Example Add</button>
		</div>

		<div class="clearfix"></div> <!-- this also has the bottom border attached to it -->

	</div>

	<div class="scrolling-content">


		<div class="col-sm-12">

			<h2 style="margin-top: 80px;" >Colors</h2>

			<div class="clearfix"></div>

			<div class="row" >
				<div class="col-sm-4 col-md-2" >
					<h6 class="text-center" >Nav Bar and Dark Text <br/> #303030</h6>
					<div style="width: 100%; height: 60px; background: #303030" ></div>
				</div>
				<div class="col-sm-4 col-md-2" >
					<h6 class="text-center" >Primary Blue <br/> #28b4e7</h6>
					<div style="width: 100%; height: 60px; background: #28b4e7" ></div>
				</div>
				<div class="col-sm-4 col-md-2" >
					<h6 class="text-center" >Success Green<br/> #4daa4b</h6>
					<div style="width: 100%; height: 60px; background: #4daa4b" ></div>
				</div>
				<div class="col-sm-4 col-md-2" >
					<h6 class="text-center" >Danger Red <br/> #e33e23</h6>
					<div style="width: 100%; height: 60px; background: #e33e23" ></div>
				</div>
				<div class="col-sm-4 col-md-2" >
					<h6 class="text-center" >Borders and Sections <br/> #e2e2e2</h6>
					<div style="width: 100%; height: 60px; background: #e2e2e2" ></div>
				</div>
				<div class="col-sm-4 col-md-2" >
					<h6 class="text-center" >Side Nav/Breadcrumbs <br/> #f1f1f1</h6>
					<div style="width: 100%; height: 60px; background: #f1f1f1" ></div>
				</div>
			</div>
		</div>

	</div>
</div>
