
<!--
	NOTE:
	The header is the top bar with navigation.
	Below it also contains commented out alerts.
	They are commented out so that we do not have them displayed at all times.
	They can be set up in the users code to show as needed.

	It also contains one of the brand drop down menus.
	Sadly, some of the nav had to be doubled up to make the mobile layout possible.
-->

<!--
If you want to use bootstrap ui alerts

<uib-alert type="success" close="closeAlert($index)">
	<h3><i class="fa fa-check-circle" ></i>Success</h3>
	<span>This is the message</span>
</uib-alert>

<uib-alert type="danger" close="closeAlert($index)">
	<h3><i class="fa fa-exclamation-circle" ></i>Error</h3>
	<span>This is the message</span>
</uib-alert>
-->

<!--
If you want to use custom alerts

<div class="alert alert-{{options.style}} alert-dismissible" ng-class="{ in : showAlert == true }" role="alert">
    <button ng-click="showAlert = false" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
    <h3>
        <i ng-if="options.style == 'success'" class="fa fa-check-circle"></i>
        <i ng-if="options.style == 'danger'" class="fa fa-exclamation-circle"></i>
        {{options.header}}
    </h3>
    <span>{{options.body}}</span>
</div>
-->

<nav class="navbar navbar-default">
	<div class="container">
		<div class="col-sm-12">
			<div class="navbar-header">
				<a class="navbar-brand" href="">Top Header</a>
			</div>
			<div class="collapse navbar-collapse">
				<div class="pull-right nav-select btn-group" uib-dropdown dropdown-append-to-body>
				 	<button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
				 		Captain Deadpool | Brand Name <img width="50" height="50" src="images/user.png" />
				 	</button>
				 	<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
				   		<li role="menuitem">
							<a href="">
								<span>This is a super long Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
							</a>
						</li>
						<li role="menuitem">
							<a href="">
								<span>Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
							</a>
						</li>
						<li role="menuitem">
							<a href="">
								<span>Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
							</a>
						</li>
						<li role="menuitem">
							<a href="">
								<span>Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
							</a>
						</li>
				 	</ul>
			   </div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="">Brands</a></li>
					<li><a href="">System Settings</a></li>
					<li><a href="">Firewall</a></li>
				</ul>
			</div>
		</div>
	</div><!-- /.container -->

	<div class="breadcrumb-wrapper">
		<div class="container" >
			<div class="col-sm-12">
				<ol class="breadcrumb">
					<li><a href="">Fake</a></li>
					<li><a href="">Bread</a></li>
					<li class="active">Crumb</li>
				</ol>
				<a class="desktop-logout pull-right" > <i class="fa fa-sign-out" ></i> Logout</a>
			</div>
		</div>
	</div>

</nav>
