
<!--
	A new nav template can be create for each context of navigation and be added using ng include in the main page view
-->


<label for="nav-trigger">
	<i class="fa fa-bars" aria-hidden="true"></i>
</label>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />

<div class="side-nav-wrapper">

	<div class="drop-select-mobile btn-group" uib-dropdown dropdown-append-to-body>
		<button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
			Captain Deadpool | Brand Name
		</button>
		<ul class="dropdown-menu dropdown-menu-for-nav" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
			<li role="menuitem">
				<a href="">
					<span>This is a super long Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
				</a>
			</li>
			<li role="menuitem">
				<a href="">
					<span>Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
				</a>
			</li>
			<li role="menuitem">
				<a href="">
					<span>Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
				</a>
			</li>
			<li role="menuitem">
				<a href="">
					<span>Brand Name</span> <img class="pull-right" width="30" height="30" src="images/user.png" />
				</a>
			</li>
		</ul>
   </div>

	<ul>
		<li>
			<a href="#/"><i class="fa fa-pied-piper" ></i>Colors</a>
		</li>
		<li>
			<a href="#/buttons" ><i class="fa fa-pied-piper" ></i>Buttons</a>
		</li>
		<li>
			<a href="#/inputs" ><i class="fa fa-pied-piper" ></i>Inputs</a>
		</li>
		<li>
			<a href="#/tabs" ><i class="fa fa-pied-piper" ></i>Tabs</a>
		</li>
		<li>
			<a href="#/list-single" ><i class="fa fa-pied-piper" ></i>List Single Col</a>
		</li>
		<li>
			<a href="#/list-multi" ><i class="fa fa-pied-piper" ></i>List Multi Col</a>
		</li>
		<li>
			<a href="#/table" ><i class="fa fa-pied-piper" ></i>Table</a>
		</li>
	</ul>

	<ul class="mobile-links" >
		<li>
			<a href="#/"><i class="fa fa-university" ></i>Brands</a>
		</li>
		<li>
			<a href="#/"><i class="fa fa-cog" ></i>System Settings</a>
		</li>
		<li>
			<a href="#/"><i class="fa fa-fire" ></i>Firewall</a>
		</li>
		<li>
			<a class="last-item" href="#/"><i class="fa fa-sign-out" ></i>Logout</a>
		</li>
	</ul>


</div>
