
<!--
	NOTE:
	Basic table layout
-->

<div class="main-content">

	<!-- insert the context of nav as needed -->
	<div ng-include="'../templates/nav.html'"></div>

	<div class="inner-main-content" >
		<div class="fixed-top-section">

			<div class="col-xs-6 col-sm-6 col-md-4" >
				<div class="form-group search-wrapper" >
					<div class="with-icon" >
						<input type="text" class="form-control" placeholder="Fake Search" />
						<i class="fa fa-search" ></i>
					</div>
				</div>
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-8" >
				<button class="btn btn-success pull-right" type="button" > <i class="fa fa-plus" ></i> Example Add</button>
			</div>

		</div>

		<div class="scrolling-content">

			<div class="col-sm-12" >
				<table class="table table-striped left-label-table" >
					<tbody>
						<tr>
							<td>Users</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
						</tr>

						<tr>
							<td>Firewall</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
						</tr>

						<tr>
							<td>Brands</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox"> <span>Allow</span>
									</label>
								</div>
							</td>
						</tr>

					</tbody>
					<thead>
						<tr>
							<td>Scope</td>
							<td>Created</td>
							<td>Read</td>
							<td>Update</td>
							<td>Delete</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>

	</div>
</div>
