
<!--
	NOTE:
	These are how the tabs with remote activation works.
	This way it has the abilty to have the tab buttons in the fixed top section.
	And place the tab content in the scrollable area.
-->


<div class="main-content">

	<!-- insert the context of nav as needed -->
	<div ng-include="'../templates/nav.html'"></div>

	<div class="inner-main-content" >
		<div class="fixed-top-section">

			<div class="col-xs-6 col-sm-6 col-md-4" >
				<div class="form-group search-wrapper" >
					<div class="with-icon" >
						<input type="text" class="form-control" placeholder="Fake Search" />
						<i class="fa fa-search" ></i>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-8" >
				<button class="btn btn-success pull-right" type="button" > <i class="fa fa-plus" ></i> Example Add</button>
			</div>


			<!-- <ul class="nav nav-tabs">
				<li ng-class="{ active: active == 0 }" ><a ng-click="active = 0" href="">One</a></li>
				<li ng-class="{ active: active == 1 }" ><a ng-click="active = 1" href="">Two</a></li>
				<li ng-class="{ active: active == 2 }" ><a ng-click="active = 2" href="">Three</a></li>
			</ul> -->


		</div>

		<div class="scrolling-content">

			<uib-tabset active="active" >

				<uib-tab index="0">
					<uib-tab-heading>
				        One
				    </uib-tab-heading>
			      	<div class="col-sm-12">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac viverra orci, nec dignissim nunc. Aliquam porta interdum hendrerit. Nam justo quam, ultricies sit amet elit sed, ultricies faucibus eros. Praesent sed nibh sed odio blandit porttitor quis ac metus. Nulla sed mi hendrerit, tincidunt ligula ac, consequat erat. Praesent ut tellus at elit lobortis imperdiet eget nec eros. Integer quis erat dignissim, tincidunt lectus ac, bibendum tellus. Nullam vestibulum, justo nec accumsan auctor, elit dui dignissim dui, eu fringilla risus nunc nec nibh. Sed nec ultrices orci. Phasellus tincidunt tempus turpis, in blandit erat. Morbi et diam sollicitudin sem accumsan imperdiet et ut dolor. Nulla id tellus quis mauris dignissim lobortis.

						Proin malesuada diam enim, sit amet auctor purus sagittis posuere. Sed auctor risus eu elit accumsan, non pharetra nisl blandit. Phasellus eget imperdiet dui. Cras molestie quam ut diam faucibus, at aliquam libero consectetur. Nullam malesuada ultricies diam, sit amet rhoncus sapien ullamcorper vel. Nulla consequat lorem in purus gravida tempor. Cras mollis mi vitae ex tempor, porta auctor turpis venenatis. Etiam at ex ac augue cursus tristique. Duis risus nisl, eleifend vel condimentum vitae, ornare aliquam felis. Etiam at finibus lacus, consequat eleifend justo. Etiam non diam pretium, aliquet ex sit amet, ultricies elit. Vivamus gravida, nunc id elementum facilisis, elit lacus accumsan metus, quis auctor risus lacus ac eros. Etiam iaculis libero nulla, vitae mollis lectus rutrum in. Nam faucibus tellus leo, sit amet congue elit finibus sed. Nulla sit amet commodo sem. Nulla faucibus bibendum molestie.

						Nullam eget nisi eget felis fringilla aliquet. Morbi rhoncus ultrices erat eget varius. Nulla egestas erat ornare, molestie justo ut, vulputate lectus. Sed ac nisl urna. Nunc porta odio a pharetra luctus. Integer lobortis imperdiet ligula, ut fringilla leo scelerisque in. Aliquam tempus neque quis accumsan aliquam. Nullam vitae tincidunt felis. Sed feugiat, purus eget dapibus ultricies, risus dui fringilla ante, eu aliquam tellus augue a mauris. In eros tortor, condimentum eu velit at, egestas laoreet justo.

						Aliquam sit amet turpis et tortor ullamcorper aliquam. Integer accumsan libero mi, eget venenatis turpis malesuada et. Mauris pellentesque lorem est, nec fermentum lectus auctor eget. Pellentesque tempus ipsum ut dolor vulputate, non venenatis est ornare. Donec lobortis enim id enim pretium, at aliquam ligula consequat. Nulla convallis sit amet turpis et scelerisque. Duis placerat massa aliquam nunc volutpat, nec vulputate ante posuere. Proin lacinia at lectus vel sagittis. Aenean sit amet scelerisque diam. Sed pharetra condimentum bibendum.

						Fusce eu egestas nunc. In hac habitasse platea dictumst. Donec et fermentum est. Nunc quis libero est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer pretium diam libero, accumsan pharetra orci gravida eget. Sed consequat felis nec cursus convallis. Phasellus hendrerit pellentesque pulvinar. Duis eu varius metus. Cras rutrum ut erat vitae rhoncus. Nam elementum magna nisi, ut volutpat dui porttitor in. Vivamus luctus ultrices molestie.

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac viverra orci, nec dignissim nunc. Aliquam porta interdum hendrerit. Nam justo quam, ultricies sit amet elit sed, ultricies faucibus eros. Praesent sed nibh sed odio blandit porttitor quis ac metus. Nulla sed mi hendrerit, tincidunt ligula ac, consequat erat. Praesent ut tellus at elit lobortis imperdiet eget nec eros. Integer quis erat dignissim, tincidunt lectus ac, bibendum tellus. Nullam vestibulum, justo nec accumsan auctor, elit dui dignissim dui, eu fringilla risus nunc nec nibh. Sed nec ultrices orci. Phasellus tincidunt tempus turpis, in blandit erat. Morbi et diam sollicitudin sem accumsan imperdiet et ut dolor. Nulla id tellus quis mauris dignissim lobortis.

						Proin malesuada diam enim, sit amet auctor purus sagittis posuere. Sed auctor risus eu elit accumsan, non pharetra nisl blandit. Phasellus eget imperdiet dui. Cras molestie quam ut diam faucibus, at aliquam libero consectetur. Nullam malesuada ultricies diam, sit amet rhoncus sapien ullamcorper vel. Nulla consequat lorem in purus gravida tempor. Cras mollis mi vitae ex tempor, porta auctor turpis venenatis. Etiam at ex ac augue cursus tristique. Duis risus nisl, eleifend vel condimentum vitae, ornare aliquam felis. Etiam at finibus lacus, consequat eleifend justo. Etiam non diam pretium, aliquet ex sit amet, ultricies elit. Vivamus gravida, nunc id elementum facilisis, elit lacus accumsan metus, quis auctor risus lacus ac eros. Etiam iaculis libero nulla, vitae mollis lectus rutrum in. Nam faucibus tellus leo, sit amet congue elit finibus sed. Nulla sit amet commodo sem. Nulla faucibus bibendum molestie.

						Nullam eget nisi eget felis fringilla aliquet. Morbi rhoncus ultrices erat eget varius. Nulla egestas erat ornare, molestie justo ut, vulputate lectus. Sed ac nisl urna. Nunc porta odio a pharetra luctus. Integer lobortis imperdiet ligula, ut fringilla leo scelerisque in. Aliquam tempus neque quis accumsan aliquam. Nullam vitae tincidunt felis. Sed feugiat, purus eget dapibus ultricies, risus dui fringilla ante, eu aliquam tellus augue a mauris. In eros tortor, condimentum eu velit at, egestas laoreet justo.

						Aliquam sit amet turpis et tortor ullamcorper aliquam. Integer accumsan libero mi, eget venenatis turpis malesuada et. Mauris pellentesque lorem est, nec fermentum lectus auctor eget. Pellentesque tempus ipsum ut dolor vulputate, non venenatis est ornare. Donec lobortis enim id enim pretium, at aliquam ligula consequat. Nulla convallis sit amet turpis et scelerisque. Duis placerat massa aliquam nunc volutpat, nec vulputate ante posuere. Proin lacinia at lectus vel sagittis. Aenean sit amet scelerisque diam. Sed pharetra condimentum bibendum.

						Fusce eu egestas nunc. In hac habitasse platea dictumst. Donec et fermentum est. Nunc quis libero est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer pretium diam libero, accumsan pharetra orci gravida eget. Sed consequat felis nec cursus convallis. Phasellus hendrerit pellentesque pulvinar. Duis eu varius metus. Cras rutrum ut erat vitae rhoncus. Nam elementum magna nisi, ut volutpat dui porttitor in. Vivamus luctus ultrices molestie.
						</p>
					</div>
			    </uib-tab>

				<uib-tab index="1">
					<uib-tab-heading>
				        Two
				    </uib-tab-heading>
	 				<div class="col-sm-12">
						I've got an HTML heading, and a select callback. Pretty cool 1!
					</div>
			    </uib-tab>

				<uib-tab index="2">
					<uib-tab-heading>
				        Three
				    </uib-tab-heading>
					<div class="col-sm-12">
						Number 3
					</div>
			    </uib-tab>

			</uib-tabset>

		</div>

	</div>
</div>
